.guideline-wrapper {
    padding: 10.5rem 0 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-wrapper {
    width: 66.67%;
    margin-top: 6.7rem;
}

.flipbook {
    margin: 4rem 0 14rem 0;
}

.info-row {
    display: flex;
    flex-direction: row;
}

.info-row p {
    color: var(--light-black, #464D58);
    line-height: 180%; /* 1.8rem */
}

.info {
    width: 8.33%;

    color: var(--light-black);
    font-weight: 600;
    line-height: 180%; /* 1.8rem */
}